.background-titulo{
    color: gold;
    background-color: black;
    display: inline-block;
}

.paragrafos-coloridos{
    color: gold;
    background-color: black;
    display: inline-block;
}

p{
    color: gold;
    background: black;
    display: inline-block;
}
.mudanca-de-pagina{
    color: blue;
    display: inline-block;
    background-color: black;
}

.background-tela-principal{
    background-color: rgb(224, 207, 198);
}
.coloracao-texto{
    
    color: rgb(10, 1, 14);
    font-size: xx-large;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 1px;
}
.paragrafo-de-itens{
    color: gold;
    background-color: black;
    display: inline-block;
    text-align: center;
}
.input-table{
    width: 30px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
    background-color: black;
    display: inline-block;
}

.container {
    text-align: center;
    padding: 10px;
    margin: 10px
}

.table-title {
    text-align: left;
    padding: 5px;
}

.table-item {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.fullwidth {
    width: 100%;
    margin-left: -40px;
    list-style: none;
}

.align-left {
    text-align: left;
}

.box-data {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    text-shadow: 1px 1.2px 0px rgba(0, 0, 0, .3);
}

.table-container {
    background-color: rgb(224, 207, 198);
    border-radius: 10px;
    padding: 15px;
}

.input-search {
    padding: 10px;
}